<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory name="foo">
	<property name="hibernate.connection.driver_class">org.gjt.mm.mysql.Driver</property>
	<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/Hibernate</property>
	<property name="hibernate.connection.username">root</property>
	<property name="hibernate.connection.password">123456</property>
	<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
	<property name="hibernate.show_sql">true</property>
	
	<mapping resource = "com/spiderhub/orm/User.hbm.xml"/>
	</session-factory>
</hibernate-configuration>